@import "../styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../resources/pointers/cursor.png), auto;
}

@font-face {
  font-family: "pixelFont";
  src: local("pixelFont"), url(../resources/fonts/Pixeled.woff) format("woff");
}

body {
  font-family: pixelFont;
}

.app {
  height: 100vh;
  background: $toolbar_color;
}

.grid_layout {
  display: grid;
  grid-template-columns: 2fr 20fr 0.5fr;
}

.box1 {
  background: $bg_color;
}

.box2 {
  background: greenyellow;
}
