@import "./variables";

@mixin reset_btn {
  display: inline-block;
  border: none;
  background: transparent;
  margin: 0;
  line-height: 1;
}

@mixin box_shadow {
  background: $header_color;
  border: 0.125rem solid $black;
  box-shadow: inset 0rem -0.125rem 0 $brown, inset 0 0 0 2px $white,
    inset 0 -0.25rem 0 $white;
}
