// ======================================COLORS=======================================================
$header_color: #d3cbbe;
$link_hover_color: #ffebb6;
$black: #000;
$toolbar_color: #7c919d;
$toolbar_highlight_color: #adcade;
$bg_color: #655561;

$header_heigth: 1.4375rem;
