.nav {
  background-color: #d3cbbe;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.links li {
  line-height: 1;
}

.link {
  font-size: 0.5rem;
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 10px;
}

.link::first-letter {
  text-decoration: underline;
}

.link:hover {
  background: #ffebb6;
}
